apiVersion: v1
kind: Secret
metadata:
  name: thanos-objstore-config
  namespace: observability
type: Opaque
stringData:
  objstore.yml: |
    type: S3
    config:
      bucket: thanos
      endpoint: minio.minio.svc.cluster.local:9000
      access_key: ca3eBioI72jvYYM6kEs3
      secret_key: zlX8zP2Am7M0FNP9QePfIBFHeHdFclS5yNoLN43W
      insecure: true
      signature_version2: false
      http_config:
        idle_conn_timeout: 90s
        response_header_timeout: 2m
        insecure_skip_verify: true
---
# Note: Update the access_key and secret_key to match your MinIO credentials
# You can find them in ../minio/standalone/secret.yaml
